/* popup.css */

/* Basic styling for the popup container */
body {
    width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;

    /* to be implemented - Dark Mode */
    /* background-color: #000d2d; */
    /* color: white; */
}

/* Styling for the title */
#title {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

/* Styling for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

/* Styling for table headers */
thead tr {
    /* background-color: #f2f2f2; */
    padding: 8px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ddd;

}

/* Styling for table data cells */
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Styling for input fields */
input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    /* background-color: #001d3d;
    color: #eee; */
}

/* Styling for buttons */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

/* Additional styling for the "Add" button */
#addNewEntryButton {
    background-color: #4caf50;
    margin-right: 5px;
}

/* Margin between buttons in the footer */
tfoot td button {
    margin-left: 5px;
}

#savedText{
    opacity: 0;
    text-align: center;
}